table.g-instances-list-table
  if showHeader
    thead
      tr
        if columns & columnEnum.COLUMN_STATUS_ICON
          th
        if columns & columnEnum.COLUMN_NOTEBOOK
          th Instance
        if columns & columnEnum.COLUMN_FOLDER
          th Origin
        if columns & columnEnum.COLUMN_CREATED
          th Last update
        if columns & columnEnum.COLUMN_OWNER
          th Owner
        if columns & columnEnum.COLUMN_STATUS
          th Status
  tbody
    each instance in instances
      tr(instanceId=instance.id)
        if columns & columnEnum.COLUMN_STATUS_ICON
          td
            button.g-instance-delete-link.btn.btn-sm.btn-warning(instance-id=instance.id)
              i.icon-stop
        if columns & columnEnum.COLUMN_NOTEBOOK
          td
            a(href=`${hubUrl}/${instance.get('containerPath')}`)= instance.get('containerPath')
        if columns & columnEnum.COLUMN_FOLDER
          td
            a(href=`#folder/${instance.get('folderId')}`)= instance.get('folderId')
        if columns & columnEnum.COLUMN_CREATED
          td.g-instance-created-cell= formatDate(instance.get('created'), DATE_SECOND)
        if columns & columnEnum.COLUMN_OWNER
          td
            a(href=`#user/${instance.get('userId')}`)= instance.get('userId')
        if columns & columnEnum.COLUMN_STATUS
          td.g-instance-status-cell= InstanceStatus.text(instance.get('status'))

.g-instance-pagination
