table.g-notebooks-list-table
  if showHeader
    thead
      tr
        if columns & columnEnum.COLUMN_STATUS_ICON
          th
        if columns & columnEnum.COLUMN_NOTEBOOK
          th Notebook
        if columns & columnEnum.COLUMN_FOLDER
          th Origin
        if columns & columnEnum.COLUMN_CREATED
          th Last update
        if columns & columnEnum.COLUMN_OWNER
          th Owner
        if columns & columnEnum.COLUMN_STATUS
          th Status
  tbody
    each notebook in notebooks
      tr(notebookId="#{notebook.id}")
        if columns & columnEnum.COLUMN_STATUS_ICON
          td
            button.g-notebook-delete-link.btn.btn-sm.btn-warning(notebook-id="#{notebook.id}")
              i.icon-stop
        if columns & columnEnum.COLUMN_NOTEBOOK
          td
            a(href="#{hubUrl}#{notebook.get('url')}")= notebook.get('url')
        if columns & columnEnum.COLUMN_FOLDER
          td
            a(href="#folder/#{notebook.get('folderId')}")= notebook.get('folderId')
        if columns & columnEnum.COLUMN_CREATED
          td.g-notebook-created-cell= girder.formatDate(notebook.get('created'), girder.DATE_SECOND)
        if columns & columnEnum.COLUMN_OWNER
          td
            a(href="#user/#{notebook.get('userId')}")= notebook.get('userId')
        if columns & columnEnum.COLUMN_STATUS
          td.g-notebook-status-cell= girder.ythub_NotebookStatus.text(notebook.get('status'))

.g-notebook-pagination
